<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Marvel API </title>
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>